<section class="first-section-color" id="home">
  <div class="banner-section">
    <div class="col span-6">
      <h3 class="title-section"><b>Software</b> de contabilidad <br> para propietarios</h3>
    </div>
    <div>
      <h2 class="banner-text">Este Software está diseñado para que lleves tu contabilidad de forma más segura y rápida.</h2>
      <button class="btn btn-success button-section active" type="button" [routerLink]="['/auth']">¡Empezar
        ahora!</button>
    </div>
  </div>
  <div class="img-section">
    <img alt="Img" src="../assets/media/img/top-banner.png" class="h-100%" title="Flux INC."/>
  </div>
</section>